.tablero{
  float:left;
  margin-left:120px;
}
.div1in{
  float:left;
  margin-left:45px;
  margin-top:75px;
}
.div2in{
  padding-left:83px;
}
.div3in{
  padding-left:42px;
}
.form{
  width:900px;
  margin-top:5%;
  margin-left: 35%;
}
.confirmar {
  margin-left:170px;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  border-right: 0px;
}
.confirmar:hover{
  background-color: #c9c9c9;
}
#hidden1,#hidden2,#hidden3,#hidden4,#hidden5,#hidden6{
  width:450px;
  text-align:center;
  position:relative;
  background:#f5f5f5;
}
#header{
  text-align:left;
  float:left;
  width:500px
}
#header2{
}
.header3 {
  text-align:right;
  float:right;
  width:350px;
}
#header4{
  float:right;
}
.nmb{
  margin-right:380px;
}
#nombre{
  width:450px;
}
.apl {
  margin-right:380px;
}
#apellidos{
  width:450px;
}
.tlf{
  margin-right:380px;
}
#telefono{
  width:450px;
}
.crs{
  margin-right:400px;
}
#curso{
  width:450px;
}
#nmov {
  text-align: center;
}
#mensaje {
  width: 327px;
  text-align: center;
}
#mov {
  width: 214px;
}
.div1reg{
  margin-left:340px;
}
.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align:center;
  background-color: black;
}
.footer1{
    text-align: center;
    font-weight: bold;
    color: white;
}
.enviar{
  margin-right: 50px;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  border-right: 0px;
}
.enviar:hover{
  background-color: #c9c9c9;
}
input:hover{
  background-color:#ededed;
}
input{
  border-top: 0px;
  border-left: 0px;
  border-color:#8c8c8c;
}
